{% extends 'base.html' %}

{% block title %}Login Page{% endblock title %}

{% block content %} 
    <div class="container">
      <div class="row">
        <div class="col-md-12 card mb-4  mt-3 left  top">
          <div class="card-body">
            <h2>Login Page</h2>
			    <form method="post">
			        {% csrf_token %}
			        {{ form.as_p }}
			        <button type="submit">Login</button>
			        
			    </form>   
        </form>
          </div>
        </div>
        
      </div>
    </div>
{% endblock content %}